* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/lato/Lato-Thin.ttf);
}

@font-face {
    font-family: "Lato Bold";
    src: url(assets/fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato Regular";
    src: url(assets/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Black";
    src: url(assets/fonts/lato/Lato-Black.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(assets/fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(assets/fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

header>p {
    font-weight: bold;
}

header>em {
    color: grey;
}

header>img {
    height: 1.7em;
    width: 1.7em;
}

.headerImg {
    width: 70vw;
    display: block;
    margin: 0 auto;
}

#imgLine::after {
    background: rgb(226, 222, 222);
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 0.5em;
}

.mobileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    gap: 0.5em;
    margin-top: 1em;
}

.mobileMenu>img {
    height: 1.2em;
    width: 1.2em;
}

.mobileList {
    list-style: none;
    display: none;
    position: absolute;
    width: 100vw;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.mobileList.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12em;
    gap: 0.5em;
}

#suwak.openImg {
    margin-top: 12em;
}

#suwak {
    margin-top: 1em;
    height: 10em;
    width: 100vw;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    gap: 1em;
    height: fit-content;
    line-height: 1.45em;
    position: relative;
}

h1 {
    font-family: "Lato";
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

h4 {
    color: #6793b6;
    font-family: "Lato Bold", sans-serif;
    line-height: 1.5em;
    font-size: 1.5em;
}

.aboutMe>p {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    color: #6b6b6b;
}

#readMore {
    background-color: #6793b6;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    padding: 0.5em 1em;
    width: fit-content;
    font-weight: 100;;
}

.slider {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    background-image: url(./assets/specjalizacja.jpg);
    background-size: cover;
    padding-bottom: 1em;
}

h3 {
    color: rgb(136, 134, 134);
    font-family: "Lato";
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* blaze CSS */

.blaze-slider {
width: 90vw;
}

.blaze-track-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blaze-track {
    width: 80%;
    height: 32em;
}

.blaze-track > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
}

.blaze-track> * > img {
    width: 100%;
    height: 12em;
    margin-bottom: 1em;
}

.blaze-track> * > a {
    color: #33330E;
    height: 3em;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    font-family: "Lato Regular", sans-serif;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.blaze-track > * > p {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin-top: 6em;
    padding-left: 1em;
    padding-right: 1em;
}

.blaze-prev,
.blaze-next {
    width: 2.5em;
    height: 2.5em;
    margin: 0.3em;
    border-radius: 50%;
    border: none;
    background-color: rgb(219, 219, 219);
}

.visits {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
    font-weight: 300;
    font-family: "Lato Light", sans-serif;
    color: black;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.1em;
    letter-spacing: 0.1rem;
}

.visits > h1 {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    color: #6793B6;
}

.offices {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.private, .hospital {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.private > div > p, .hospital > div > p {
    font-size: 0.98em;
}

footer {
    padding-top: 2em;
    margin: 3em 2em;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;
}