* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/lato/Lato-Thin.ttf);
}

@font-face {
    font-family: "Lato Bold";
    src: url(assets/fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato Regular";
    src: url(assets/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Black";
    src: url(assets/fonts/lato/Lato-Black.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(assets/fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(assets/fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

header>p {
    font-weight: bold;
}

header>em {
    color: grey;
}

header>img {
    height: 1.7em;
    width: 1.7em;
}

.headerImg {
    width: 70vw;
    display: block;
    margin: 0 auto;
}

#imgLine::after {
    background: rgb(226, 222, 222);
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 0.5em;
}

.mobileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    gap: 0.5em;
    margin-top: 1em;
}

.mobileMenu>img {
    height: 1.2em;
    width: 1.2em;
}

.mobileList {
    list-style: none;
    display: none;
    position: absolute;
    width: 100vw;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.mobileList.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12em;
    gap: 0.5em;
}

#suwak.openImg {
    margin-top: 12em;
}

#suwak {
    margin-top: 1em;
    height: 10em;
    width: 100vw;
}

.text {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    gap: 1em;
    height: fit-content;
    line-height: 1.45em;
    position: relative;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

h2 {
    font-family: "Lato", sans-serif;
    margin-top: 1.5em;
    margin-left: 2em;
}

h2::after {
    background: rgb(226, 222, 222);
    content: '';
    width: 90%;
    height: 1px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
}

.descText {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: black;
}

.descText > * {
    color: black;
}

.description > img {
    width: 70%;
    height: 70%;
}

h4 {
    color: #6793b6;
    font-family: "Lato Bold", sans-serif;
    line-height: 1.5em;
    font-size: 1.5em;
}

.text>p {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    color: #6b6b6b;
}

#readMore {
    background-color: #6793b6;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    padding: 0.5em 1em;
    width: fit-content;
    font-weight: 100;;
}

.aboutMe > img {
    margin-top: 1em;
    width: 100%;
}

.slider {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    background-image: url(./assets/specjalizacja.jpg);
    background-size: cover;
    padding-bottom: 1em;
}

.slider > h1 {
    margin-top: 1em;
}

h3 {
    color: rgb(95, 95, 95);
    font-family: "Lato";
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* blaze CSS */

.totalSlider {
    width: 100%;
}

.blaze-slider {
    width: 100%;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blaze-container {
    width: 80%;
}

.blaze-track-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blaze-track {
    width: 90%;
    height: 40em;
}

.blaze-track > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
}

.blaze-track> * > img {
    width: 100%;
    height: 12em;
    margin-bottom: 1em;
}

.blaze-track> * > a {
    color: #33330E;
    height: 6em;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    font-family: "Lato Regular", sans-serif;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.blaze-track > * > p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    margin-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
}

.blaze-prev,
.blaze-next {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 201, 101);
    font-family: "Lato Bold", sans-serif;
}

.visits {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
    font-weight: 300;
    font-family: "Lato Light", sans-serif;
    color: black;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.1em;
    letter-spacing: 0.1rem;
}

.visits > h1 {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    color: #6793B6;
}

.offices {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.desktopNav {
    display: none;
}

.private, .hospital {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.private > div > p, .hospital > div > p {
    font-size: 0.98em;
}

iframe {
    width: 100%;
}

footer {
    padding-top: 2em;
    margin: 3em 2em;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;
}

@media screen and (min-width: 600px) {

    .headerImg {
        height: 8em;
    }

    .blaze-track {
        width: 90%;
        height: 30em;
    }

    #suwak {
        height: 15em;
    }
    
    .blaze-track > * > p {
        margin-top: 1em;
    }

    .slider > h1 {
        margin-top: 1em;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutMe > img {
        width: 70%;
        height: 20%;
    }

    .offices {
        display: flex;
        flex-direction: row;
    }

    iframe {
        width: 20em;
    }

}

@media screen and (min-width: 900px) {
    
    .blaze-track {
        height: 35em;
    }

    #suwak {
        height: 18em;
    }

    .aboutMe > img {
        width: 50%;
        height: 20%;
    }
    
    .mobileMenu {
        display: none;
    }

    .desktopNav {
        display: flex;
        justify-content: center;
        align-items: center;;
        width: 100%;
    }

    .desktopList {
        display: flex;
        gap: 2.5em;
    }

    .desktopList > * {
        white-space: nowrap;
    }

    #imgLine::after {
        background: transparent;
    }

    ul {
        list-style: none;
    }

    a {
        color: #000000;
        font-family: "Lato Bold", sans-serif;
        font-weight: 600;
        text-decoration: none;
    }

    a:hover {
        color: #6793b6;
        -webkit-transition: color 200ms linear;
        -moz-transition: color 200ms linear;
        -o-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;
    }

    .headerImg {
        height: 5em;
        width: 30em;
        justify-self: flex-start;
    }

}

@media screen and (min-width: 1200px) {

    body {
        margin: 0 2em;
    }

    header {
        justify-content: flex-end;
        gap: 2em;
        margin-right: 2em;
    }

    .headerImg {
        height: 4em;
        width: 20em;
        justify-self: flex-start;
        margin-left: 4em;
    }

    #imgLine::after {
        background: transparent;
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        margin-top: 0.5em;
    }

    .mobileMenu {
        display: none;
    }

    .desktopNav {
        display: flex;
        justify-content: center;
        align-items: center;;
        width: 100%;
    }

    .desktopList {
        display: flex;
        gap: 1em;
    }

    .desktopList > * {
        white-space: nowrap;
        font-size: 1.1em;
    }

    .nav {
        display: flex;
        gap: 7em;
        width: 50vw;
        font-size: 0.9em;
    }

    ul {
        list-style: none;
    }

    li {
        color: #000000;
        font-family: "Lato Bold", sans-serif;
        font-weight: 600;
    }

    li:hover {
        color: #6793b6;
        -webkit-transition: color 200ms linear;
        -moz-transition: color 200ms linear;
        -o-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;
    }

    #suwak {
        height: 25em;
        margin-right: 2em;
        margin-left: 2em;
        width: 100%;
    }

    #greetImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blaze-track {
        height: 45em;
        width: 53em;
    }

    .blaze-track > * > p {
        font-size: 1.2em;
        margin-top: 4.2em;
    }

    .blaze-prev,
    .blaze-next {
        width: 2em;
        height: 2em;
        font-size: 2em;
        position: relative;
    }

    .aboutMe {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .aboutMe > img {
        width: 40%;
        height: 20%;
        margin-right: 2em;
    }

    .bottomText {
        display: flex;
    }

    .offices {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 3em;
    }

    .offices > * {
        width: 20em;
    }

    .hospital {
        width: 25em;
    }


    .my-map-canvas {
        width: 70em;
        height: 70em;
    }

}

@media screen and (min-width: 1300px) {

    .blaze-track {
        width: 55em;
    }
}

@media screen and (min-width: 1350px) {

    .blaze-track {
        width: 61em;
    }
}

@media screen and (min-width: 1380px) {

    .blaze-track {
        width: 60em;
    }
}

@media screen and (min-width: 1400px) {

    .blaze-track {
        width: 60em;
    }
}

@media screen and (min-width: 1446px) {

    .blaze-track {
        width: 65em;
    }
}

@media screen and (min-width: 1548px) {

    .blaze-track {
        width: 67em;
    }
}


@media screen and (min-width: 1600px) {

    #suwak {
        height: 30em;
    }

    .nav {
        font-size: 1.03em;
        gap: 20em;
    }

    .blaze-track {
        height: 35em;
        width: 95em;
    }

    .blaze-container {
        width: 90%;
    }

    .blaze-track > * > p {
        font-size: 1.2em;
        margin-top: 2em;
    }

    .blaze-prev,
    .blaze-next {
        width: 2em;
        height: 2em;
        font-size: 2em;
        position: relative;
    }

    .blaze-track-container {
        width: 100%;
    }
}